Name: Terraform CD 

on:
 push:
  branches:
   - main


jobs:
  terraform:
   name: 'Terraform Deployment'
   defaults:
    run:
     shell: bash

   runs-on: ubuntu-latest

   steps:
   - name: checkout
     uses: actions/checkout@v4

   - name: Login to azure
     uses: azure/login@v2
     with:
      creds: ${{ secrets.AZURE_CREDENTIAL }}

   - name: 'Terraform init'
     id: init
     run: terraform init
     working-directory: tf

   - name: 'Terraform Format'
     id: fmt
     run: terraform fmt -recursive -check
     working-directory: tf
     continue-on-error: false
        
   - name: 'Terraform Validate'
     id: validate
     run: terraform validate -no-color
     working-directory: tf
     continue-on-error: false
    
   - name: 'Terraform Plan'
     id: plan
     run: terraform plan -no-color
     working-directory: tf
     continue-on-error: false

   - name: 'Terraform apply'
     id: apply
     run: terraform apply --auto-approve
     working-directory: tf 




